%h1 Leaderboard

%table.table.table-striped
  %thead
    %tr
      %th Rank
      %th Name
      %th Score
      %th Games Played

  - User.by_final_score.each_with_index do |user, idx|
    %tr
      %td= idx + 1
      %td= user.name
      %td= user.score
      %td= user.games_played
