%h1 Leaderboard

%table.table.table-striped
  %thead
    %tr
      %th Rank
      %th Name
      %th Points
      %th Games Played

  - User.by_desc_points.each_with_index do |user, idx|
    %tr
      %td= idx + 1
      %td= user.name
      %td= user.points
      %td= user.games_played
